<p style="color: green"><%= notice %></p>

<div class="container">


 <div class="row">

   <form class="col-md-3" action="/search">
     <input class="form-control" type="search" name="q" placeholder="Search Branch" aria-label="Search">
   </form> 

    <button class="btn btn-success col-md-1" type="submit"> <i class="bi bi-search"></i></button>

    <div class="d-flex justify-content-end"><%= link_to "New branch", new_branch_path, class: 'btn btn-primary col-md-2 bi bi-plus shadow' %></div>
    
 </div> 






<table class="table table-hover text-center shadow p-3 mb-5 rounded mt-5">
 <thead>
    <tr>
      <th scope="col"># Branch</th>
      <th scope="col">Branch name</th>
      <th scope="col">Address</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% num = 0 %>
  <% @branches.each do |branch| %>
    <tr>
      <th scope="row"><%= num = num + 1 %></th>
      <td><%= branch.name %></td>
      <td><%= branch.address %></td>
      <td><%= link_to "Details", branch, class: 'btn btn-success' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
