
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="#">Reloj Checad<i class="bi bi-clock-fill clock-icon-size"></i>r</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <%if current_page?(root_path) || current_page?(new_record_path)%>
            <li class="nav-item active">
              <%= link_to 'Admin', new_admin_session_path, class: 'btn btn-primary rounded-pill' %>
            </li>
          <%elsif !admin_signed_in?%>
            <li class="nav-item active">
              <%= link_to 'Back to check in/out', new_record_path, class: 'btn btn-primary rounded-pill' %>
            </li>
          <%else%>
            <li class="nav-item active">
              <%= link_to 'Employees', employees_path, class: 'nav-link bi bi-person rounded-pill' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Branches', branches_path, class: 'nav-link bi bi-shop'%> 
            </li>
            <li>
              <%= link_to 'Sign out', destroy_admin_session_path, 'data-turbo-method': :delete, class: 'btn btn-danger rounded-pill'%>
            </li>
          <%end%>
      </ul>
    </div>
  </nav>
